.Jumbotron {
    background-color: #69B5F8;
    color: #3C4856;
    margin: 15vw;
    margin-top: 5vw;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 20px #ccc;
}

.Btn_Group {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    list-style: none;
}