.Menu_Full {
    background-color: #3C4856;
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #9FACBD;
    font-family: 'Montserrat';
}

.Menu_Mini {
    background-color: #3C4856;
    width: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #9FACBD;
    font-family: 'Montserrat';
}

.Menu_Header {
    text-align: center;
    font-size: 1.3em;
    padding: 20px;
    margin: auto;
}

.Hamburger_Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

span {
    margin-bottom: 5px;
    border-radius: 3px;
    display: block;
    background: #9FACBD;
    width: 33px;
    height: 3px;
}