.MenuItem {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Menu_btn {
    margin-top: 10px;
    color: #9FACBD;
    border: none;
    background-color: #3C4856;
    padding: 14px 28px;
    font-size: .8em;
    cursor: pointer;
    text-align: center;
}

.Menu_btn:hover {
    background-color: #9FACBD;
    color: black;
}

.Active_Link {
    background-color: #9FACBD;
    color: #3C4856;
}

.Menuitem {
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
    text-decoration: none;
}

li {
    background: inherit;
}

li:hover {
    cursor: pointer;
}

a {
    color: inherit;
    padding: 30px;
    text-decoration: none;
}