.Button {
    background-color: #3C4856;
    border-radius: 20px;
    color: #9FACBD;
    /* outline: none; */
    font: inherit;
    padding: 2.5vh 10vw;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}